### 220628

In [2]:
import platform
print(platform.python_version())

3.9.13

In [3]:
import os
print(os.getcwd())

c:\Users\rproject\Desktop\데이터청년캠퍼스\dachungcam

#### Data Type

In [4]:
a = 1
b = 1.2345
c = 3 + 4j

# 변수의 타입 확인
type(a)
type(b)
type(c)

complex

In [5]:
d = a + b + c
d

(5.2345+4j)

##### Str Type

In [6]:
sa = 'Hello Bigdata'
print(sa)

sb = "Hello Bigdata"
print(sb)

sc = """Hello Bigdata"""
print(sc)

sd = '''Hello Bigdata'''
print(sd)

se = 'and Cheer up!'
print(se)

Hello Bigdata
Hello Bigdata
Hello Bigdata
Hello Bigdata
and Cheer up!

In [7]:
print(sd + se)

Hello Bigdataand Cheer up!

In [8]:
a = "="
print(a)
print(a * 50)

=
==================================================

In [9]:
# 문자열 길이
len(a)
len(se)
len(a * 50)

50

###### 문자열 인덱싱

In [10]:
a = 'this is a string'

print(a)
print(a[2])
print(a[0])
print(a[-1])
print(a[5])
print(a[4])

this is a string
i
t
g
i

###### 문자열 슬라이싱

- 끝번호 값은 제외하고 출력

In [11]:
b = '20200722Wed'

print(b)
print(b[0:4])
print(b[4:6])
print(b[:8])
print(b[8:])
print(b[:])
print(b[:-5])

20200722Wed
2020
07
20200722
Wed
20200722Wed
202007

###### 문자열 수정

In [12]:
a = 'this is a string'
a[10:] = 'rope'

TypeError: 'str' object does not support item assignment

In [13]:
b = 'robe'
a[:10] + b

'this is a robe'

In [14]:
# 문자 변경
c = a.replace('string', 'rope')
print(c)

this is a rope

###### 문자열 format

In [16]:
a = 11

# %d 숫자(정수)
"a equals %d." %3
"a equals %d." %a

'a equals 11.'

In [28]:
b = -22
"vars are %d and %d." %(a, b)

# %s 문자("" 꼭 넣어주기)
"I have %s children." %"three"
"vars are %s and %s." %(a, b)

"vars are %s and %s" %(3.14, 5)

# %숫자s 자리수만큼 공백 오른쪽 정렬 (-는 왼쪽 정렬)
"%10s" %"Good"
"%-10s" %"Good"

# 소수 자리수 출력
"%.5f" %3.141592
"%20.5f" %3.141592 # 전체 20자리 공간에서 오른쪽 정렬 소수점 5자리

'             3.14159'

###### 문자열 함수들

In [39]:
a = "Korean culture"

a.count('u')

a.find('u') # 문자 위치
a.find('K')
a.find('k') # -1 : 해당 문자 없음

a.index('u')
# a.index('k')

",".join('Korean culture') # 문자 사이 구분

a.upper()
a.lower()

'korean culture'

In [43]:
b = '     Korean cultrue   '

# 공백 제거
b.strip()
b.lstrip()
b.rstrip()

'     Korean cultrue'

In [45]:
a.replace("Korean", "American")
a.split()

['Korean', 'culture']

In [46]:
c = "Korean & American"
c.split("&")

['Korean ', ' American']

##### Boolean Type

In [51]:
d = True
type(d)

e = False

d and e
d or e
6 == 6
6 > 4
not d

# 문자열/리스트/튜플/딕셔너리가 비워져있으면 F
bool("ABC")
bool("")
bool([1, 2, 3])

# 0이면 F, 1이면 T
bool(0)
bool(1)

True

##### List Type

In [52]:
a = []
b = [1, 2, 3, 4, 5]
c = ['red', 'blue', 'yellow']
d = [1, 2, 'red', 'blue']
e = [1, 2, ['red', 'blue']]

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3, 4, 5]
['red', 'blue', 'yellow']
[1, 2, 'red', 'blue']
[1, 2, ['red', 'blue']]

###### 리스트 인덱싱

In [54]:
b[0]
b[0] + b[2]
b[-1]

5

In [58]:
a = [1, 2, 3, 4, 5, ['a', 'b', 'c', 'd'], 7, 8, 9]

print(a)

a[0]
a[-1]
a[5]
a[5][2]

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd'], 7, 8, 9]

'c'

###### 리스트 슬라이싱

In [71]:
b = [1, 2, 3, 4, 5]
b[0:4]

c = "12345"
c[0:4]

b[:3]
b[3:]

a[0:6]
a[0:6:1] # 한 자리마다 출력
a[0:6:2] # 두 자리마다 출력
a[0:6:3] # 세 자리마다 출력

a[5]
a[5][:2]

['a', 'b']

###### 리스트 연산

In [74]:
a = [1, 2, 3, 4]
b = [6, 7, 8, 9]

a + b
a * 2

len(a)

4

In [80]:
k = [12345678]
len(k)

m = '12345678'
len(m)

c = 'good'
# b + c

c = ['good']
b + c

[6, 7, 8, 9, 'good']

In [84]:
a[3] = 9
print(a)

n = '1234'
n[3]
n[3] = '9' # 문자열 수정 X

[1, 2, 3, 9]

TypeError: 'str' object does not support item assignment

###### 리스트 연산 함수

In [88]:
a = [1, 2, 3, 4, [a, b, c]]
b = [6, 7, 8, 9]

len(a)
# sum(a)
sum(b)
max(b)
min(b)

6

In [92]:
del(b[0]) #b[0] 삭제
print(b)

b = [6, 7, 8, 9]
del b[:3]
print(b)

str(b[0]) # 숫자형 -> 문자형 변경

[]
[9]

'9'

In [94]:
b = ['6', '7', '8', '9']

b.append('10') # 기존 리스트에 추가
print(b)

b.append(['11', '12'])
print(b)

['6', '7', '8', '9', '10']
['6', '7', '8', '9', '10', ['11', '12']]

In [95]:
c = ['6', '9', '8', '7']
print(c)

c.sort()
print(c)

['6', '9', '8', '7']
['6', '7', '8', '9']

In [96]:
d = ['x', 'z', 'y']

d.sort()
print(d)

['x', 'y', 'z']

In [100]:
c = ['6', '9', '8', '7']
c.reverse() # 역순으로 변환
print(c)

c.index('9')
# c.index('5')

c.insert(4, '10') # 4번 인덱스에 10 추가
print(c)

c.insert(0, '5')
print(c)

['7', '8', '9', '6']
['7', '8', '9', '6', '10']
['5', '7', '8', '9', '6', '10']

In [105]:
e = ['3', '4', '3', '4', '5']

e.remove('4')
print(e)

e.remove('4')
print(e)

e.pop() # 마지막 요소 보여준 후, 삭제
print(e)

e.pop(1) # 1번 인덱스 요소 삭제
print(e)

e.pop(0)
print(e)

['3', '3', '4', '5']
['3', '3', '5']
['3', '3']
['3']
[]

In [107]:
c = [6, 6, 6, 6, 6, 7, 8, 9]

c.count(6)
c.extend([4, 5]) # 요소 추가, 입력은 리스트만 가능
print(c)

c.append([4, 5])
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5]
[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, [4, 5]]

##### Tuple Type

- 리스트는 대괄호, 튜플은 소괄호 사용
- 리스트는 수정 가능, 튜플은 수정 불가능
- 한 개의 요소만 갖는 경우, 마지막에 콤마(,) 필요 -> 그렇지 않으면 정수 타입 생성
- 값이 자주 변경되면 리스트, 항상 변하지 않으면 튜플

In [112]:
a = tuple()
a = ()
type(a)

b = (1,)
type(b)

c = (1, 2, 3)
type(c)

d = 1, 2, 3 # 괄호 생략 가능
type(d)

e = 1, 2, ('ab', 'cd'), 3, 4
type(e)

tuple

In [121]:
e[0]

# 튜플은 수정/변경 불가
# del e[0]
# e.remove[1]

e[:]

c + e
c * 2
len(c)

x, y, z = (1, 2, 3)
print(x, y, z)
print(x)

1 2 3
1

##### Dict Type

- key와 value를 한 쌍으로 가지고 있음

In [126]:
a = {'gender':'Female', 'age':30, 'name':'Kristina'}
type(a)

# key 값을 입력하면, 그에 해당하는 value 반환
a['gender']
a['age']

# a[0]
a['Kristina']

KeyError: 'Kristina'

In [128]:
b = {1:'good'}
print(b)

c = {'a':[1, 3, 5]}
print(c)

d = {'a':(1, 3, 5)}
print(d)

{1: 'good'}
{'a': [1, 3, 5]}
{'a': (1, 3, 5)}

In [131]:
# key 자리에 리스트 사용 X
# c = {[1, 3, 5 : 'a']}

# 튜플 사용 O
d = {(1, 3, 5) : 'a'}

In [133]:
a = {'gender' : 'Femal'}
a['age'] = 30 # key value 추가
print(a)

a['name'] = 'Kristina'
print(a)

a['a'] = [1, 3, 5]
print(a)

{'gender': 'Femal', 'age': 30}
{'gender': 'Femal', 'age': 30, 'name': 'Kristina'}
{'gender': 'Femal', 'age': 30, 'name': 'Kristina', 'a': [1, 3, 5]}

In [134]:
# key와 value 한 쌍이 같이 삭제
del a['a']
print(a)

del a['name']
print(a)

{'gender': 'Femal', 'age': 30, 'name': 'Kristina'}
{'gender': 'Femal', 'age': 30}

In [140]:
a = {'gender':'Female', 'age':30, 'name':'Kristina'}

a.keys()
list(a.keys())

a.values()
a.items()

a.clear() # 딕셔너리 내 모든 요소 삭제
print(a)

{}

In [144]:
a = {'gender':'Female', 'age':30, 'name':'Kristina'}

a.get('gender')
a.get('height', '?') # key가 딕셔너리 내에 값이 없을 때, ?로 표현

# 값이 있으면 T, 없으면 F
'gender' in a
'height' in a

False