In [3]:
import pandas as pd
import requests
import xmltodict

#### 대전광역시 정류소별 도착정보 조회 서비스

In [4]:
## 서비스 URL
url = "http://openapitraffic.daejeon.go.kr/api/rest/arrive/getArrInfoByUid"

## 활용신청 후 공공데이터포털에서 받은 인증키(일반 인증키)
serviceKey = "khCPz52JtxTNuJ4ghK1qr1AX9J%2FHcsRWvJVlijKxE%2BGOmA4BfSEznFxaxNdiDkK2n6VvtoDAFXAASm3pPK88fg%3D%3D"

## busRouteId
arsId = "50340"

## URL 생성
data_url = url + "?" + "serviceKey=" + serviceKey + "&" + "arsId=" + arsId

## XML 파일 읽기
data_xml = requests.get(data_url)

## Encoding
data_xml.encoding ='utf8'

## Text 추출
data_str = data_xml.text

## XML to dictionary
data_dic = xmltodict.parse(data_str)

## dictionary에서 자료(item) 추출
data_item = data_dic['ServiceResult']['msgBody']['itemList']

## DataFrame 저장
data_df = pd.DataFrame(data_item)
data_df

,BUS_NODE_ID,BUS_STOP_ID,CAR_REG_NO,DESTINATION,EXTIME_MIN,EXTIME_SEC,INFO_OFFER_TM,LAST_CAT,LAST_STOP_ID,MSG_TP,ROUTE_CD,ROUTE_NO,ROUTE_TP,STATUS_POS,STOP_NAME
0,8002904,50340,대전75자2288,동춘당,10,551,2022-07-11 20:23:20.0,3,12400,03,30300058,314,2,7,한남대학교
1,8002904,50340,대전75자9812,신탄진,14,788,2022-07-11 20:23:07.0,3,20780,03,30300091,711,2,9,한남대학교
2,8002904,50340,대전75자9359,비래삼호A,4,226,2022-07-11 20:23:16.0,3,53470,03,30300040,105,2,4,한남대학교

##### 대전광역시 버스 위치정보 조회 서비스